<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Appointment</title>
    <link rel="stylesheet" href="../../static/select2/css/select2.min.css"
          th:href="@{~/select2/css/select2.min.css}"/>
    <link rel="stylesheet" href="../../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
</head>
<head th:replace="fragment/parts::head">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{~/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Appointment</h1>
        <div class="form-group">
            <label class="form-control-label">Appointment For</label>
            <div>
                <a th:href="|/doctors/${appointmentViewModel.doctorSelectViewModel.id}|"
                   th:text="'Dr. ' + ${appointmentViewModel.doctorSelectViewModel.firstName} + ' ' + ${appointmentViewModel.doctorSelectViewModel.lastName}"></a>,
                <span class="form-control-label"
                      th:text="${appointmentViewModel.doctorSelectViewModel.settlePointName}"></span>
            </div>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_DOCTOR')">
            <label class="form-control-label">For Patient</label>
            <div>
                <a th:href="|/patient/${appointmentViewModel.patientBasicViewModel.id}|"
                   th:text="${appointmentViewModel.patientBasicViewModel.firstName} + ' ' + ${appointmentViewModel.patientBasicViewModel.lastName}"></a>,
                <span class="form-control-label"
                      th:text="'(' + ${appointmentViewModel.patientBasicViewModel.EGN} + ')'"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="inputDate">Appointment Date</label>
            <input type="text" class="form-control form-control-danger" id="inputDate" readonly="readonly"
                   th:value="${#dates.format(appointmentViewModel.date, 'dd-MMM-yyyy HH:mm')}"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="inputType">Appointment Type</label>
            <input type="text" class="form-control form-control-danger" id="inputType" readonly="readonly"
                   th:field="${appointmentViewModel.type}"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="inputDescription">Description</label>
            <textarea class="form-control form-control-danger" rows="3" id="inputDescription" readonly="readonly"
                      th:field="${appointmentViewModel.description}"></textarea>
        </div>
        <br/>
    </div>
</main>

<div th:replace="fragment/parts::scripts">
</div>
<script th:src="@{~/select2/js/select2.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#inputAppointmentType").select2();
    });
</script>
</body>
</html>