<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Week Schedule</title>
    <link rel="stylesheet" href="../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
</head>
<head th:replace="fragment/parts::head">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{~/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <h1 class="h1">Ooops Something Went Wrong!</h1>
    <a class="btn btn-secondary" href="/">Go Home</a>
</main>
<div th:replace="fragment/parts::scripts">
</div>
</body>
</html>