<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Week Schedule</title>
    <link rel="stylesheet" href="../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
</head>
<head th:replace="fragment/parts::head">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{~/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1>Edit Week Schedule</h1>
        <div class="form-group row float-lg-right">
            <label for="week-input" class="col-lg-2 col-form-label">Week</label>
            <div class="col-lg-10">
                <input class="form-control" type="week" value="2011-W33" id="week-input"/>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--<th scope="row">From</th>-->
                    <!--<td th:each="editDayScheduleModel, stat : *{editDayScheduleModels}">-->
                    <!--<input class="form-control" type="time" value="00:00:00"-->
                    <!--th:field="*{editDayScheduleModels[__${stat.index}__].startTimeStr}"/>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<div th:replace="fragment/parts::scripts">
</div>
</body>
</html>