<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Edit Week Schedule</title>
    <link rel="stylesheet" href="../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
</head>
<head th:replace="fragment/parts::head">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{~/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Appointment Not Found.</h1>
        <p>The requested appointment doesn't seem to exist.</p>
        <p>You can:</p>
        <ul>
            <li>
                Go back to
                <a sec:authorize="hasRole('ROLE_DOCTOR')" href="/appointment/doctor">my appointments</a>
                <a sec:authorize="hasRole('ROLE_PATIENT')" href="/appointment/patient">my appointments</a>
            </li>
        </ul>

    </div>
</main>
<div th:replace="fragment/parts::scripts">
</div>
</body>
</html>