<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/parts::head">
</head>
<head>
    <title>Change Password - Doctor Appointment System</title>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Change password</h1>
        <div style="color: red" th:if="${error} != null" th:text="${error}"></div>
        <form method="post" th:object="${changePasswordModel}">
            <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-danger'">
                <label class="form-control-label" for="inputOldPassword">Old Password</label>
                <input type="password" class="form-control form-control-danger" id="inputOldPassword"
                       name="old-password" th:field="*{oldPassword}"
                       placeholder="Enter old password"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('oldPassword')}" th:text="${error}">
                    Sorry, that password is incorrect.
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger'">
                <label class="form-control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-danger" id="inputPassword" name="password"
                       th:field="*{password}" placeholder="Enter new password"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                    Sorry, that password is incorrect.
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('global')} ? 'has-danger'">
                <label class="form-control-label" for="inputPassword">Password Confirm</label>
                <input type="password" class="form-control form-control-danger" id="inputConfirmPassword"
                       th:field="*{confirmPassword}" name="password-confirm"
                       placeholder="Confirm new password"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                    Sorry, that password is incorrect.
                </div>
            </div>
            <input type="submit" class="btn btn-secondary float-right clickable" value="Change password"/>
        </form>
    </div>
</main>

<div th:replace="fragment/parts::scripts">
</div>
</body>
</html>