<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Doctor Appointment System</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" type='image/x-icon' href="../static/img/favicon.ico" />
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <h1 class="h1 text-center">Doctor Appointment System!!</h1>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>