<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Doctor Appointment System</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1>Login Page</h1>
        <div style="color: red" th:if="${error} != null" th:text="${error}"></div>
        <form method="post">
            <div class="form-group">
                <label class="form-control-label" for="inputUsername">Username</label>
                <input type="text" class="form-control form-control-danger" id="inputUsername" name="username"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-danger" id="inputPassword" name="password"/>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="rememberMe"/>
                    Remember Me
                </label>
            </div>
            <input type="submit" class="btn btn-success" value="Log In"/>
        </form>
    </div>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>